<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="stilovi/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Kućne žurke</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Početna</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="/users/logout" class="btn btn-secondary">Odjavi se</a>
      </form>
    </div>
  </nav>

  <div class="container mt-5 pt-5">
    <!-- Filteri -->
    <div class="row justify-content-center mb-4">
      <div class="col-md-2">
        <form action="/users/filter" method="POST">
          <input name="organizatorzurke" class="form-control mb-2" placeholder="Organizator" />
          <button type="submit" class="btn btn-primary w-100" style="background-color: rgba(216, 97, 97, 0.8);">Filtriraj</button>
        </form>
      </div>
      <div class="col-md-2">
        <form action="/users/filterpomuzici" method="POST">
          <select id="muzika" name="muzika" class="form-control mb-2">
            <option>Disco</option>
            <option>Pop</option>
            <option>Rock</option>
            <option>Trap</option>
            <option>RnB</option>
            <option>Salsa</option>
            <option>Folk</option>
            <option>Pank</option>
          </select>
          <button type="submit" class="btn btn-primary w-100" style="background-color: rgba(216, 97, 97, 0.8);">Filtriraj</button>
        </form>
      </div>
      <div class="col-md-2">
        <form action="/users/filterpoadresi" method="POST">
          <input name="adresa" class="form-control mb-2" placeholder="Adresa" />
          <button type="submit" class="btn btn-primary w-100" style="background-color: rgba(216, 97, 97, 0.8);">Filtriraj</button>
        </form>
      </div>
      <div class="col-md-3">
        <form action="/users/filterpodatumu" method="POST">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Datum</span>
            </div>
            <input type="date" id="datum" name="datum" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary w-100" style="background-color: rgba(216, 97, 97, 0.8);">Filtriraj</button>
        </form>
      </div>
      <div class="col-md-3">
        <form action="/users/filterdatum" method="POST">
          <input style="display: none !important;" name="name" value="<%=name%>" />
          <button type="submit" class="btn btn-primary w-100 mb-2" style="background-color: rgba(216, 97, 97, 0.8);">Predstojeće žurke</button>
        </form>
      </div>
    </div>

    <!-- Žurke -->
    <div class="row justify-content-center flex-wrap">
      <% zurka.forEach(function(zurka){ %>
        <div class="col-md-6 bg-light m-3 p-4">
          <form action="/users/update" method="POST">
            <div class="list-group">
              <input type="hidden" name="organizator" value="<%=zurka.organizator%>" />
              <input type="hidden" name="idzurke" value="<%=zurka._id%>" />
              <input type="hidden" name="name" value="<%=name%>" />
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-1"><%=zurka.organizator%></h5>
                <button type="submit" class="btn btn-primary" style="background-color: rgba(216, 97, 97, 0.8);">Pošalji zahtev</button>
              </div>
              <p class="mt-3">
                <img style="  max-width: 100%; height: auto; display: block;margin-bottom: 10px;" src="http://localhost:3000/<%= zurka.slikaZurke %>" alt="Slika žurke" class="img-fluid mb-2" />
                <br>Datum: <%=zurka.datum%>
                <br>Adresa: <%=zurka.adresa%>
                <br>Vreme: <%=zurka.vreme%>
                <br>Muzika: <%=zurka.muzika%>
                <br>Preostali broj ljudi: <%=zurka.brojljudi%>
              </p>
            </div>
          </form>
          <div class="d-flex gap-2 mt-3 flex-wrap">
            <form action="/users/profilkorisnika" method="POST" class="mr-2">
              <input style="display: none !important;" name="organizator" value="<%=zurka.organizator%>" />
              <button type="submit" class="btn btn-primary" style="background-color: rgba(216, 97, 97, 0.8);">Profil</button>
            </form>
            <form action="/zurke/zurka" method="POST" class="mr-2">
              <input style="display: none !important;"name="_id" value="<%=zurka._id%>" />
              <input style="display: none !important;" name="name" value="<%=name%>" />
              <button type="submit" class="btn btn-primary" style="background-color: rgba(216, 97, 97, 0.8);">Komentari</button>
            </form>
            <form action="/zurke/delete" method="POST" class="mr-2">
              <input style="display: none !important;" name="id" value="<%=zurka._id%>" />
              <%- include('./partials/admin') %>
            </form>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>
